<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.product.mapper.SkuSaleAttrValueMapper">

    <resultMap id="skuSaleAttrValueMapper" type="java.util.Map" autoMapping="true">

    </resultMap>

    <select id="selectSkuValueIdsMap" resultMap="skuSaleAttrValueMapper">
        select
            group_concat(skav.sale_attr_value_id order by ssav.base_sale_attr_id asc separator '|') value_ids,
            sku_id
        from sku_sale_attr_value skav
        inner join spu_sale_attr_value ssav on ssav.id=skav.sale_attr_value_id
        where skav.spu_id=#{spuId}
        group by skav.sku_id
    </select>
</mapper>